.selectImageModule{
    margin-top: 10px;
}
.quizBuilderModule{
    margin-top: 10px;
}
.textEditorModule{
    margin-top: 10px;
}
.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    background-color: #ECECFF!important;
}
.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root{
    color:#514AC9 !important;
}